body {
  margin: 0;
  background: linear-gradient(90deg, rgb(33, 189, 193), rgb(65, 208, 106));
  font-family: Lato,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.logo-header {
  width: 200px;
  height: 200px;
}

.tree {
  display: flex;
  flex-direction: column;
}

.branch {
  margin-bottom: 20px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 12px;
}

.iconbutton {
  color: rgb(14, 16, 20);
}

.cta {
  background-color: #f3f3f3;
  text-transform: unset;
  color: rgb(14, 16, 20);
  border-radius: 2000px;
}

.item {
  background-color: #f3f3f3;
  padding: 24px 16px;
  margin-bottom: 20px;
  border-radius: 2px;
  height: 100%;
}

.simple-form {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  height: 40px;
}

.social-container {
  margin-bottom: 32px;
}

.logo-social {
  height: 32px;
  padding: 12px;
}

footer {
  background: rgb(14, 16, 20);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}
