{% extends 'base.html' %}

{% block head %}
<title>Add Link | Wild Me Wayfinder</title>
{% endblock %}

{% block body %}
<div class="content">
  <h5>Add Link</h5>
  <form class="simple-form" action="/add" method="POST">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="label" name="label">
      <label class="mdl-textfield__label" for="label">Label</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="href" name="href">
      <label class="mdl-textfield__label" for="href">URL</label>
    </div>
    <input style="max-width: 120px;" class="cta mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="Add link">
  </form>
</div>
{% endblock %}

